{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block content %}

<div class="intro">
    <h2>MTA Revenue Breakdown</h2>
    
    <h1>MTA Budget: Where the money comes from</h1>
    <div>
        <ul class="ra-share" id="ra-share-top" style="text-align: center;">
            <li class="rt-share-f"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://interactive.nydailynews.com/project/mta-funding/">facebook</a> </li>
            <li class="ra-share-t"> <a target="_blank" href="https://twitter.com/intent/tweet?text=MTA Budget: Where the money comes from&url=http://interactive.nydailynews.com/project/mta-funding/&via=NYDNi&related=NYDNTransit">Tweet</a></li>
            <li class="ra-share-e"> <a href="mailto:?subject=MTA Budget: Where the money comes from&body=http://interactive.nydailynews.com/project/mta-funding/">email</a> </li>
        </ul>
    </div>

    <p class="byline">By DAN RIVOLI</p>

    <p id="datestamp" class="stamp">Published XXXXXXXXXXXXX</p>
<!--
    <p id="datestamp" class="stamp">Last updated {{''|last_update()}}</p>
-->

    <p>It costs the MTA more than $15 billion a year to run the region’s massive transit network, 24 hours a day, seven days a week. But riders for months have been enduring unreliable, overcrowded and dangerous transit service.</p>
    <p>With riders stuck in the middle of a transit funding feud between Gov. Cuomo and Mayor de Blasio, the Daily News breaks down how the MTA makes its money each year and who ultimately pays for the service New Yorkers get.</p>

</div>

<p class="latest-news">
    THE LATEST <a href="http://www.nydailynews.com/tags/mta"></a>: 
    <strong id="latest-news-headline"></strong>
</p>
<!--
<p><a href="http://www.nydailynews.com/new-york/group-lawmakers-call-investigation-mta-spending-article-1.3566735">City, state lawmakers call for investigation of MTA’s spending</a> <span>(published 17 hours ago)</span></p>
-->
<script onload="document.getElementById('latest-news-headline').innerHTML=hed;" src="http://interactive.nydailynews.com/project/mta-funding/tag-mta-1.js"></script>

{% include 'includes/ad02.html' %}

<section id="monies">
    <h2>Total revenue</h2>
    <ul>
        <li>
            <img class="revenue" src="static/img/revenue.png" alt="an illustration of a pile of money">
            <h3>$15.3 billion</h3>
            <h4>Total MTA revenue</h4>
            <p>This number comes from the MTA's 2017 mid-year forecast and includes the revenue sources below.</p>
        </li>
    </ul>

    <h2>Where the money comes from</h2>
    <ul>
        <li>
            <img src="static/img/fares.png" alt="an illustration of a hand swiping a MetroCard">
            <h3>Fares</h3>
            <h4>$6.2 billion</h4>
            <p>This is money collected from every MetroCard swipe and ticket punched on the MTA’s two commuter lines, Long Island Rail Road and Metro-North.</p>
        </li>
        <li>
            <img src="static/img/taxes.png" alt="an illustration of a coinpurse">
            <h3>Dedicated Taxes</h3>
            <h4>$5.3 billion</h4>
            <p><a href="#taxes">Click to jump to the taxes breakdown</a></p>
        </li>
        <li>
            <img src="static/img/tolls.png" alt="an illustration of toll road icon">
            <h3>Tolls</h3>
            <h4>$1.9 billion</h4>
            <p>Collected from the MTA’s seven bridges and two tunnels</p>
        </li>
        <li>
            <img src="static/img/subsidies.png" alt="an illustration of a money bag">
            <h3>State &amp; Local Subsidies</h3>
            <h4>$1.2 billion</h4>
            <p><a href="#subsidies">Click to jump to the subsidies breakdown</a></p>
        </li>
        <li>
            <img src="static/img/other-revenue.png" alt="an illustration of a bundle of cash">
            <h3>Other</h3>
            <h4>$685 million</h4>
            <p>This is all operating revenues generated from sources other than fares and tolls, such as advertising, reimbursements for paratransit service, senior and student fares, rents, parking and investment income.</p>
        </li>
    </ul>

<div class="taxes" id="taxes">
    <h2>Taxes in detail</h2>
    <ul>
        <li>
            <img src="static/img/mmtoa.png" alt="an illustration of a safe">
            <h3>MMTOA</h3>
            <h4>$1.6 billion</h4>
            <p>Metropolitan Mass Transportation Operating Assistance Fund: This is a pot of tax money collected for the MTA and other downstate transportation systems. It’s made up of revenue, such as statewide tax on petroleum companies, a sales tax in the 12-county MTA region and corporate franchise taxes and fees both statewide and in the MTA region. MMTOA this year will collect a total of $2.3 billion - 72% of which goes to the MTA.</p>
        </li>
        <li>
            <img src="static/img/petrol.png" alt="an illustration of a gas pump">
            <h3>Petroleum Business Tax</h3>
            <h4>$613 million</h4>
            <p>This is a statewide tax on petroleum businesses, plus taxes on gas and diesel fuel and fees for vehicle registrations and driver licenses.</p>
        </li>
        <li>
            <img src="static/img/mortgage-record.png" alt="a document icon">
            <h3>Mortgage Recording</h3>
            <h4>$444 million</h4>
            <p>A tax on mortgage borrowers and lenders in the 12-county MTA region</p>
        </li>
        <li>
            <img src="static/img/urban.png" alt="a building icon">
            <h3>Urban Tax</h3>
            <h4>$574 million</h4>
            <p>This is a tax collected on property transactions and mortgage recordings in New York City.</p>
        </li>
        <li>
            <img src="static/img/payroll-mobility-2.png" alt="a money icon">
            <h3>Payroll Mobility Tax</h3>
            <h4>$1.5 billion</h4>
            <p>This is a tax created during the 2009 MTA bailout on employers and self-employed individuals in the MTA region.</p>
        </li>
        <li>
            <img src="static/img/payroll-mobility.png" alt="a money icon">
            <h3>Payroll Mobility Tax replacement funds</h3>
            <h4>$244 million</h4>
            <p>In 2011, the politically unpopular tax got slashed, with Gov. Cuomo promising the state will make up the shortfall to make the MTA whole. In last year’s budget, however, $65 million from this reimbursement was cut.</p>
        </li>
        <li>
            <img src="static/img/mta-aid.png" alt="a piggy bank icon">
            <h3>MTA Aid</h3>
            <h4>$305 million</h4>
            <p>This is a hodgepodge of new fees from 2009 that includes a 50-cent fee on city taxi trips, a $25 annual fee on motor vehicle registrations, auto rentals and licenses.</p>
        </li>
    </ul>
</div>

{% include 'includes/ad03.html' %}

<div class="subsidies" id="subsidies">
    <h2>Subsidies in detail</h2>
    <ul>
        <li>
            <img src="static/img/state-local.png" alt="an illustration of a government building">
            <h3>State &amp; Local operating assistance</h3>
            <h4>$545 million</h4>
            <p>Under law, the state’s mass transportation program gives direct financial aid to the MTA, mainly through the Metropolitan Mass Transportation Operating Assistance fund. Local operating assistance is matching payments from the city and the suburban counties in the MTA region. The city and the suburban counties in the MTA region also pay for maintenance of commuter rail stations.</p>
        </li>
        <li>
            <img src="static/img/other-funding.png" alt="an illustration of a bundle of cash">
            <h3>Other funding</h3>
            <h4>$674 million</h4>
            <p>The city reimburses the MTA for the cost of running routes within MTA Bus Company, created to take over bus services that were run by private companies. The city also gives the MTA money to cover the transit agency’s operating budget deficit. The Connecticut Department of Transportation also subsidizes Metro-North operations in the state.</p>
        </li>    
    </ul>
</div>
</section>
<div>
    <p class="caption">Interactive and illustrations by Kelli R. Parker</p>
    <p class="caption">Source: MTA 2018 Preliminary budget - July Financial Plan 2018-2021; mid-year forecast 2017</p>
</div>
{% endblock content %}
