body {
	width: 100%;
	margin: 0;
	background-color: #fafafa;
}

#rh-subnav {
	display: none;
}

.byline {
	font: bold 20px "Open Sans Condensed", sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #333;
	margin-bottom: 5px;
}

.stamp {
	font: normal 15px "Open Sans", sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #1F618D;
	margin-bottom: 5px;
}

.intro {
	max-width: 915px;
	margin: auto;
}


article h1 {
	color: #030303;
	font-family: 'PT Serif', serif;
	font-weight: normal;
	font-size: 33pt;
	line-height: 50px;
	text-align: center;
	margin: 30px;
}

article h2, .dek {
	background-color: #7e7e7e;
	color: white;
	width: 275px;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	letter-spacing: 0.5px;
	margin: auto;
}

.widget {
	width: 50%;
}

.chart-container{
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
}

.shadow {
	-webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.25) );
	filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.25) );
}

main p {
	color: #333;
	font: normal 17px "PT Serif", serif;
	line-height: 25px;
	margin-top: 15px;
}

div.intro p#datestamp + p:first-letter {
	text-transform: uppercase;
	float: left;
	font-size: 53px;
	line-height: 48px;
	padding-right: 5px;
}

.latest-news {
	text-align: center;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	max-width: 900px;
	margin: 30px auto;
	padding: 12px;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 30px;
}

.one {
	grid-column: 1;
  	grid-row: 1;
}

.two { 
	grid-column: 2;
	grid-row: 1 ;
}

#sirr {
	transform: translate(30px,-205px);
}

article table {
	width: 375px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: auto;
}

thead {
	background-color: #7e7e7e;
	text-transform: uppercase;
	color: #ffffff;
}

th {
	padding: 7px;
}

td {
	height: 30px;
	vertical-align: middle;
	padding-left: 14px;
}

tr:nth-child(even) {
	background-color: #dedede;
}

table caption {
	display: none;
}

/*  BIG TABLE  */

#big-table h3 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#big-table table {
  width: 90%;
  table-layout: fixed;
  margin-bottom: 50px;
}

#big-table thead {
	background: #7e7e7e;
}
#big-table table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
#big-table table tr {
  padding: .35em;
}
#big-table table th, #big-table table td {
  padding: .625em;
  text-align: center;
  border-right: 1px solid #ddd;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: normal;
}

#big-table table td:last-child {
	border-right: none;
}

#big-table .column {
	font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
#big-table table {
	border: 0;
  }
  #big-table table caption {
	font-size: 1.3em;
  }
  #big-table table thead {
	border: none;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
  }

  #big-table table tr {
	border-bottom: 3px solid #ddd;
	display: block;
	margin-bottom: .625em;
	background: none;
  }
  #big-table table td {
	border-bottom: 1px solid #ddd;
	display: block;
	font-size: .8em;
	text-align: right;
  }
  #big-table table td:before {
	content: attr(data-label);
	float: left;
	font-weight: bold;
	text-transform: uppercase;
  }
  #big-table table td:last-child {
	border-bottom: 0;
	border-right: 0;
  }
}

/*=========================*/

.caption {
	font: 15px "Open Sans", sans-serif;
	color: #999;
	margin: 20px;
	text-align: center;
}

.note {
	width: 375px;
	margin: 20px auto 0 auto;
	font: 12px "Open Sans", sans-serif;
	color: #999;
}

.center {
	text-align: center;
	margin: auto;
}

div.ad {
	padding-bottom: 50px;
}
div.ad > span {
	font-size: 10px;
	color: #999;
	font-family: sans-serif;
}

.hide { display: none; }



/* HANDHELD-SPECIFIC */
@media only screen and ( min-width: 220px ) and ( max-width:727px ) {
	.intro p {
		margin-left: 20px;
		margin-right: 20px;

	}

	main p {
		text-align: left;
	}

	.chart-container {
		width: 320px;
		margin: auto;
	}

	.two {
		grid-column: 1;
		grid-row: 2;
	}

	div.two h2 {
		margin-top: 50px;
	}

	article table, .note {
		width: 80%;
	}
}
/* TABLET-SPECIFIC */
@media only screen and ( min-width: 728px ) and (max-width:1023px) {
.intro p {
	margin-left: 30px;
	margin-right: 30px;
}
}
/* HANDHELD & TABLET */
@media only screen and ( min-width: 220px ) and (max-width:1023px) {
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
section#profiles ul li {
	flex: 1 0 auto;
}
}